<!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/round-logo-576px-128x128-1.png" type="image/x-icon">
  <meta name="description" content="{posterAbstract}">
  
  
  <title>{posterTitle}</title>
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/facebook-plugin/style.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/customization/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Be+Vietnam:100,100i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Be+Vietnam:100,100i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  <script src="assets/customization/js/citation.js"></script>
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-467012-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-467012-1');
</script>


</head>
<body>
  
  <section class="info02 cid-rVtYPjG2uX" id="info02-2">

    

    <div class="mbr-overlay" style="opacity: 0.9; background-color: rgb(0, 51, 102);"></div>

    <div class="container align-center">
        <div class="row justify-content-center">
            <div class="mbr-black col-md-12 col-lg-10">
                <h4 class="mbr-section-subtitle mbr-regular mbr-fonts-style display-7">{posterAffiliates}</h4>
                <h3 class="mbr-section-title mbr-regular mbr-white pb-4 mbr-fonts-style display-1"><div><strong>{posterTitle}</strong></div></h3>
                <p class="mbr-text pb-4 mbr-white mbr-regular mbr-fonts-style display-7">{posterAuthors}<br></p>
                
            </div>
    <!-- audio player code starts here-->        
            <center>
<figure>
    <figcaption>&nbsp;</figcaption>
    <figcaption><span style="color: #ffffff;"><strong>NARRATION</strong></span></figcaption>
    <figcaption>&nbsp;</figcaption>
    <audio controls="" src="{posterid}.wav">
            Your browser does not support the
            <code>audio</code> element.
    </audio>
</figure>
    </center>
        <!-- audio player code ends here-->    
            
        </div>
    </div>
</section>

<div id="custom-html-2"><link type="text/css" rel="stylesheet" href="magiczoomplus/magiczoomplus.css">
<script type="text/javascript" src="magiczoomplus/magiczoomplus.js"></script>


<br>
    <br>
<center>
    <a href="large-image.jpg" class="MagicZoom"><img src="small-image.jpg"></a>
</center>



<style>
body {
  background-color: #000000;
}
</style>

<br>
<p style="text-align: center;"><span style="color: #ffffff;">Hover to pan and click to magnify. Click again to pan at full screen.</span></p>

<br></div>

<section class="header4 cid-s4E9hCDKDT" id="content05-n">
    <div class="container content-box">
        <div class="mbr-text align-left mbr-fonts-style display-4 text-column" id="citation">
            {posterAuthors}. {posterTitle}. Uploaded to {posterUrl}. Submitted on {posterDate}.
        </div>
        <a class="btn btn-primary display-4 text-button" onclick="copyToClipboard()">Copy</a>
    </div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class=" col-md-12 col-lg-12 align-left">
                <h3 class="mbr-section-subtitle align-left mbr-white mbr-regular pb-2 mbr-fonts-style display-4">Poster - #{posterid} - KEYWORDS: {keywords}</h3>
                <h1 class="mbr-section-title align-left mbr-white pb-2 mbr-fonts-style display-5"><strong>{posterTitle}</strong></h1>

                <p class="mbr-text align-left mbr-fonts-style display-4">{posterAuthors}<br>{posterAffiliates}<br><br><strong>ABSTRACT</strong>:<br>{posterAbstract}<br></p>
                
                
            </div>
        </div>
    </div>
</section>

<div id="custom-html-p"><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png"></a><br>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
<strong></strong>
<br>
<br>
    <br></div>

<section class="mbr-section mbr-section__comments" id="facebook-comments-block-h" data-rv-view="113" style="background-color: rgb(255, 255, 255); padding-top: 0rem; padding-bottom: 1rem;">
         

    <div class="mbr-section__container mbr-section__container--isolated addons-container">
        <div class="addons-row">
            
            <div class="addons-container-inner" data-shortname="posterpresentations"><div class="disqusPlaceholder" data-numposts=""><h2>DISQUS COMMENTS WILL BE SHOWN ONLY WHEN YOUR SITE IS ONLINE</h2>  <img src="assets/images/disqus-comments.jpg"></div></div>
        </div>
    </div>
</section>

<div id="custom-html-m">	<p style="text-align: center;">&nbsp;</p>
<h3 style="text-align: center;">Contact the poster Author(s)</h3>
<br>
<center>

    <a href="contact.php" target="_blank"> &nbsp;
    <img src="https://www.posterpresentations.com/research/sendmessage.png" width="300" height="84" alt=""></a>
<br>

<br>
    <br>
</center></div>

<section data-bs-version="5.1" class="features14 cid-sQzX4cSyvy" id="features14-2j">
    

    

    <div class="container-fluid">
        <h5 class="mbr-section-title mbr-fonts-style display-5"><strong>About A-Cure</strong></h5>
        <p class="mbr-text mbr-fonts-style display-7">
            Established in 2015, (in part due to the generous funding of our sponsor: Abiomed Inc.) the faculty of the A-CURE Working Group meet annually to initiate scientific and clinical discussions on how acute cardiac unloading may increase myocardial salvage, prevent (or limit) myocardial and ventricular injury and remodeling, improve survival, and attenuate the development of heart failure after myocardial infraction. Many of the current A-CURE faculty members have been participants since the inception of the working group.
        </p>
        <div class="button-align">
            <div class="mbr-section-btn"><a class="btn btn-danger display-4" href="mailto:info@a-cure.org">CONTACT A-CURE</a></div>
        </div>
    </div>
</section>

<section class="info02 levelm4_info2 cid-sPrreOu3RA" id="info02-28">

    

    

    <div class="container align-center">
        <div class="row justify-content-center">
            <div class="mbr-black col-md-12 col-lg-10">
                <h4 class="mbr-section-subtitle mbr-regular mbr-fonts-style display-4"><strong>VIRTUAL POSTER PRESENTATIONS BY</strong></h4>
                <h3 class="mbr-section-title mbr-regular mbr-white pb-4 mbr-fonts-style display-4"><a href="https://www.posterpresentations.com" class="text-danger">PosterPresentations.com</a>&nbsp; |&nbsp; &nbsp;2117 Fourth Street, Ste C,&nbsp; |&nbsp; &nbsp;Berkeley&nbsp; |&nbsp; &nbsp;CA 94710<div>1.866.649.3004&nbsp; &nbsp; |&nbsp; &nbsp; 510.649.3001</div></h3>
                
                
            </div>
        </div>
    </div>
</section>


<script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v2.5"></script>
  <script src="assets/facebook-plugin/facebook-script.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/theme/js/script.js"></script>
  
</body>
</html>