<!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/round-logo-576px-128x128-1.png" type="image/x-icon">
  <meta name="description" content="{posterAbstract}">
  
  
  <title>{posterTitle}</title>
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/facebook-plugin/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/customization/css/style.css">
  <link rel="stylesheet" href="assets/customization/css/modal.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Be+Vietnam:100,100i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Be+Vietnam:100,100i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-467012-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-467012-1');
</script>


</head>
<body>
  
  <section class="info02 cid-rVtYPjG2uX" id="info02-2">
    <div class="container align-center">
        <div class="row justify-content-center">
            <div class="mbr-black col-md-12 col-lg-10">
                <h3 class="mbr-section-title mbr-regular mbr-white pb-4 mbr-fonts-style display-1"><div><strong>{posterTitle}</strong></div></h3>
                <h4 class="mbr-text pb-4 mbr-white mbr-regular mbr-fonts-style display-7">		{posterAuthors}<br></h4>
                <h4 class="mbr-text mbr-regular mbr-fonts-style pb-4 display-7">{posterAffiliates}</h4>
                <div id="pdf-youtube-section" class="mbr-section-btn">
                    <a id='download-pdf' class="btn btn-md btn-white-outline display-4" href="{posterid}.pdf" target="_blank">
                        <img id="pdf-button" alt="DOWNLOAD PDF" src="assets/customization/pdf.svg">
                    </a>
                    <a id='open-video-modal' class="btn btn-md btn-white-outline display-4">
                        <img id="youtube-button" alt="VIDEO" src="assets/customization/youtube.svg">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- audio player code starts here-->        
            <center>
<figure>
    <figcaption>&nbsp;</figcaption>
    <figcaption><span style="color: #ffffff;"><strong>NARRATION</strong></span></figcaption>
    <figcaption>&nbsp;</figcaption>
    <audio controls="" src="{posterid}.wav">
            Your browser does not support the
            <code>audio</code> element.
    </audio>
</figure>
    </center>
        <!-- audio player code ends here-->    
            
        </div>
    </div>
</section>

<div id="custom-html-2"><link type="text/css" rel="stylesheet" href="magiczoomplus/magiczoomplus.css">
<script type="text/javascript" src="magiczoomplus/magiczoomplus.js"></script>


<br>
    <br>
<center>
    <a href="large-image.jpg" class="MagicZoom"><img src="small-image.jpg"></a>
</center>



<style>
body {
  background-color: #000000;
}
</style>

<br>
<p style="text-align: center;"><span style="color: #ffffff;">Hover to pan and click to magnify. Click again to pan at full screen.</span></p>

<br></div>

<div id="custom-html-g"><script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5eb07a3d1f542a0012c5ef17&amp;product=inline-share-buttons" async="async"></script>

<div class="sharethis-inline-share-buttons"></div>
<br>
</div>

<section class="mbr-section mbr-section__comments" id="facebook-comments-block-h" data-rv-view="147" style="background-color: rgb(255, 255, 255); padding-top: 0rem; padding-bottom: 1rem;">
         

    <div class="mbr-section__container mbr-section__container--isolated addons-container">
        <div class="addons-row">
            
            <div class="addons-container-inner" data-shortname="posterpresentations"><div class="disqusPlaceholder" data-numposts=""><h2>DISQUS COMMENTS WILL BE SHOWN ONLY WHEN YOUR SITE IS ONLINE</h2><img src="assets/images/disqus-comments.jpg"></div></div>
        </div>
    </div>
</section>

<div id="custom-html-m">	<p style="text-align: center;">&nbsp;</p>
<h3 style="text-align: center;">Contact the Author(s)</h3>
<br>
<center>

    <a href="contact.php" target="_blank"> &nbsp; 
    <img src="https://www.posterpresentations.com/research/sendmessage.png" width="300" height="84" alt=""></a>
<br>

<br>
    <br>
</center></div>

<section class="header4 cid-s4E9hCDKDT" id="content05-n">
    <div class="container content-box">
        <div class="mbr-text align-left mbr-fonts-style display-4 text-column" id="citation">
            {posterAuthors}. {posterTitle}. Uploaded to {posterUrl}. Submitted on {posterDate}.
        </div>
        <a class="btn btn-primary display-4 text-button" onclick="copyToClipboard()">COPY</a>
    </div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class=" col-md-12 col-lg-12 align-left">
                <h3 class="mbr-section-subtitle align-left mbr-white mbr-regular pb-2 mbr-fonts-style display-4">Poster - #<strong>{posterid}</strong> - Keywords: {keywords}</h3>
                <h1 class="mbr-section-title align-left mbr-white pb-2 mbr-fonts-style display-5"><strong>{posterTitle}</strong></h1>

                <p class="mbr-text align-left mbr-fonts-style display-4">{posterAuthors}<br>{posterAffiliates}<br><br><strong>ABSTRACT</strong>:<br>{posterAbstract}</p>
                
                
            </div>
        </div>
    </div>
</section>

<div id="custom-html-p"><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png"></a><br>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License.<BR>PosterPresentations.com is not affiliated with the Author(s) of this work and is not responsible for its content.</BR></a>

    <strong></strong>
    <br>
    <br>
</div>

<section class="footer3 cid-svrskRzu01" once="footers" id="footer3-27">

    

    

    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="row row-links">
                <ul class="foot-menu">
                    
                    
                    
                    
                    
                <li class="foot-menu-item mbr-fonts-style display-7">
                        <a class="text-white text-primary" href="https://www.posterpresentations.com/index.html" target="_blank">Home</a>
                    </li><li class="foot-menu-item mbr-fonts-style display-7">
                        <a class="text-white text-primary" href="https://www.posterpresentations.com/research/groups/virtual-poster-presentations-for-groups.html" target="_blank">Virtual Presentations</a>
                    </li><li class="foot-menu-item mbr-fonts-style display-7">
                        <a class="text-white text-primary" href="https://www.posterpresentations.com/price-guide.html" target="_blank">Printing Services</a>
                    </li><li class="foot-menu-item mbr-fonts-style display-7">
                        <a class="text-white text-primary" href="https://www.posterpresentations.com/free-poster-templates.html" target="_blank">Design Templates</a>
                    </li><li class="foot-menu-item mbr-fonts-style display-7">
                        <a class="text-white text-primary" href="https://www.posterpresentations.com/contact.html" target="_blank">Contact Us</a>
                    </li></ul>
            </div>
            <div class="row social-row">
                <div class="social-list align-right pb-2">
                    
                    
                    
                    
                    
                    
                <div class="soc-item">
                        <a href="https://twitter.com/posterpresenter/" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-twitter socicon"></span>
                        </a>
                    </div><div class="soc-item">
                        <a href="https://www.facebook.com/PosterPresenter/" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon"></span>
                        </a>
                    </div><div class="soc-item">
                        <a href="https://www.youtube.com/user/PosterPresentations" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-youtube socicon"></span>
                        </a>
                    </div><div class="soc-item">
                        <a href="https://www.instagram.com/posterpresentations/" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon"></span>
                        </a>
                    </div><div class="soc-item">
                        <a href="https://www.pinterest.com/posterpresenter/" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-pinterest socicon"></span>
                        </a>
                    </div><div class="soc-item">
                        <a href="https://www.linkedin.com/showcase/posterpresentations.com" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-linkedin socicon"></span>
                        </a>
                    </div></div>
            </div>
            <div class="row row-copirayt">
                <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-7">
                    © Copyright 2022 <a href="https://www.posterpresentations.com" class="text-white" target="_blank"><strong>PosterPresentations.com</strong></a>. All Rights Reserved.<br>2117 Fourth Street, Ste C, Berkeley CA 94710<br>510.649.3001</p>
            </div>
        </div>
    </div>
</section>

<!-- video popup frame -->

<div id="videoModal" class="modal">
    <div id="modal-header">
        <span id="close-video-modal" aria-hidden="true" class="close">&times;</span>
    </div>
    <div class="modal-content-custom">
      <div id="modal-video-block">
          <iframe id="youtube-frame" src="https://www.youtube.com/embed/{videoid}?rel=0&amp;amp;showinfo=0&amp;autoplay=0&amp;loop=0"
                  width="1280" height="720" frameborder="0" allowfullscreen=""></iframe>
      </div>
    </div>
</div>


  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v2.5"></script>
  <script src="assets/facebook-plugin/facebook-script.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/theme/js/script.js"></script>
  <script src="assets/customization/js/modal.js"></script>
  <script src="assets/customization/js/citation.js"></script>
  
<script>"use strict";if("loading"in HTMLImageElement.prototype){document.querySelectorAll('img[loading="lazy"],iframe[loading="lazy"]').forEach(e=>{e.src=e.dataset.src,e.style.paddingTop=100*e.getAttribute("data-aspectratio")+"%",e.style.height=0,e.onload=function(){e.removeAttribute("style")}})}else{const e=document.createElement("script");e.src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.1.2/lazysizes.min.js",document.body.appendChild(e)}</script>

</body>
</html>